# Firewall rule to allow SSH, HTTP, and HTTPS traffic
resource "google_compute_firewall" "cultcreative_firewall_allow_ssh_http_https" {
  name    = "cultcreative-firewall-allow-ssh-http-https"
  network = google_compute_network.cultcreative_vpc_network.name

  allow {
    protocol = "tcp"
    ports    = ["22", "80", "443"]
  }

  source_ranges = ["0.0.0.0/0"]
  target_tags   = ["http-server", "https-server", "ssh"]
}